{{- define "title" -}}
  {{- .Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $params := partial "function/params.html" . -}}
  {{- $toc := .Param "toc" | default dict -}}
  {{- $tocEnable := $toc.enable | default true -}}
  {{- $tableOfContents := "" -}}
  {{- if $tocEnable -}}
    {{- $startLevel := $toc.startLevel | default 2 -}}
    {{- $endLevel := $toc.endLevel | default 6 -}}
    {{- $tableOfContents = .Fragments.ToHTML $startLevel $endLevel false -}}
  {{- end -}}
  {{- $showToc := $tocEnable | and (ne $tableOfContents `<nav id="TableOfContents"></nav>`) -}}

  <article class="page single">
    {{- /* Title */ -}}
    <h1 class="single-title animate__animated animate__flipInX">
      <span>{{- .Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") -}}</span>
    </h1>

    {{- /* Subtitle */ -}}
    {{- with $params.subtitle -}}
      <p class="single-subtitle animate__animated animate__fadeIn">{{ . }}</p>
    {{- end -}}

    {{- /* Meta */ -}}
    <div class="post-meta">
      <div class="post-meta-line">
        {{- partial "single/post-author.html" . -}}
      </div>
      <div class="post-meta-line">
        {{- with .PublishDate -}}
          <span title='{{- "2006-01-02 15:04:05" | .Format -}}'>
            {{- dict "Class" "fa-regular fa-calendar-alt fa-fw" | partial "plugin/icon.html" -}}&nbsp;<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time>&nbsp;
          </span>
        {{- end -}}
        <span>
          {{- dict "Class" "fa-solid fa-file-lines fa-fw" | partial "plugin/icon.html" -}}&nbsp;{{ printf "%d articles" .Pages.Len -}}
        </span>
      </div>
    </div>

    {{- /* Static TOC */ -}}
    {{- if $showToc -}}
      <div class="details toc" id="toc-static" data-kept="false">
        <div class="details-summary toc-title">
          <span>{{ T "single.contents" }}</span>
          <span>{{ dict "Class" "details-icon fa-solid fa-angle-right" | partial "plugin/icon.html" }}</span>
        </div>
        <div class="details-content toc-content" id="toc-content-static">
          {{- $tableOfContents | safeHTML -}}
        </div>
      </div>
    {{- end -}}

    {{- /* Content */ -}}
    <div class="content" id="content">
      {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>

    {{- /* Footer */ -}}
    {{- partial "single/footer.html" . -}}

    {{- /* Comment */ -}}
    {{- partial "single/comment.html" . -}}
  </article>

  {{- /* Auto TOC on the right side */ -}}
  <aside class="toc" id="toc-auto" aria-label="{{ T "single.contents" }}">
    {{- if $showToc -}}
      <h2 class="toc-title">
        {{- T "single.contents" -}}&nbsp;
        {{- dict "Class" "toc-icon fa-solid fa-angle-down fa-fw" | partial "plugin/icon.html" -}}
      </h2>
      <div class="toc-content" id="toc-content-auto"></div>
    {{- end -}}
  </aside>

  {{- /* TOC Dialog */ -}}
  {{- if $showToc -}}
    {{- .Page.Store.Set "hasToc" true -}}
    <dialog id="toc-dialog" aria-labelledby="toc-dialog-title" role="dialog">
      <div class="toc">
        <h2 class="toc-title">{{ T "single.contents" }}</h2>
        <div class="toc-content" id="toc-content-drawer">
          {{- replace $tableOfContents `id="TableOfContents"` "" | safeHTML -}}
        </div>
      </div>
    </dialog>
  {{- end -}}
{{- end -}}
